body{
    
    font-family: sans-serif;
}

.contenedor{
    background-color: darkred;
    height: 50vh;
    margin: 5%;
    font-size: 70px;
    font-style: italic;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

p{
    width: 50%;

}
.lola{
    
    font-style: italic;
    background-color: darkred;
    border: 1px solid #ccc;
    padding: 0 1rem;
    margin: 1rem;
}
.d1{
    font-style: italic;
    font-family: sans-serif;
    background-color: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.hijodos{
    color: white;
   background-color: darkred;
   width: 400px;
   margin: 0 auto;

}
.padre {
    text-align: center;
}

.hijouno {
    background-color: red;
    color: black;
    padding: 10px;
    margin: 10px;
    display: inline-block;

}

.hijofn{
    font-size: 50px;
     background-image: url();
    color: black;
    text-size-adjust: 500px;
    text-align: center;
    color: whitesmoke;
    margin: 0 auto;
}

body{
    background: url(body.jpg);
}

    
